<!DOCTYPE HTML>
<html>
    <head>
        <title>Fakestagram</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>

        <!-- jquery for refreshing -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zuck.js/1.1.0/zuck.js"></script>

        <!-- styles just for demo -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        
        <!-- script styles -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zuck.js/1.1.0/zuck.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zuck.js/1.1.0/skins/snapgram.min.css">
    </head>
    <body style="display:block; text-align: center; font-family:Roboto; max-width: 100vh; margin: auto">

        <h1> Fakestagram
        <img src="img/refresh.png" onclick="refreshDemo()" style="max-width:30px"></img>
        </h1>
		<div id="stories"></div>
        <div style="max-width: 100vh">
            <hr>
            <div style="float: left">
                <div style="background-image: url('img/Roku_Logo.jpg'); background-position: center; padding:20px; background-size: cover; border-radius: 40px; border-style: solid; border-width:1px; border-color: rgba(0,0,0,0.6)"></div>
            </div>
            <div style="float: left; text-align: left; foreground-color: blue; padding-left: 8px"> <b> TonyTonyTony </b><br> TonyLand, NYC </div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Sleeping_Beauty_Castle_Disneyland_Anaheim_2013.jpg/1024px-Sleeping_Beauty_Castle_Disneyland_Anaheim_2013.jpg" style="max-width: 100vw; width: 100%"></img>
            <div style="text-align: left"> At the TonyLand!  This is totally a real place <font color="blue">#blessed</font></div>
            <hr>
            <div style="float: left">
                <div id="adUserProf" style="background-image: url('img/Roku_logo.png'); background-position: center; padding:20px; background-size: cover; border-radius: 40px; border-style: solid; border-width:1px; border-color: rgba(0,0,0,0.6)"></div>
            </div>
            <div id="adUserText" style="float: left; text-align: left; foreground-color: blue; padding-left: 8px"> <b> Roku </b><br> Roku Corporate Office </div>
            <img id="adInlineImg" src="https://tse3.mm.bing.net/th?id=OIP.bm8JX1QMeKY1-femWfJUXgDhEs&pid=15.1" style="max-width: 100vw; min-width: 100%"></img>
            <div id="learnMore" onclick="visitSponsor()" style="background-color: rgb(102,102,255); text-align: left; padding: 2px;display: none"><font color="white">  Learn More  </font></div>
            <hr>
        </div>

        <script>
            var sponsorSite = "";
            function buildItem(id, type, length, src, preview, link, linkText, seen, time){
                return {
                            "id": id,
                            "type": type,
                            "length": length,
                            "src": src,
                            "preview": preview,
                            "link": link,
                            "linkText": linkText,
                            "seen": seen,
							"time": time
                        };
            }

			var initDemo = function(){
				var header = document.getElementById("header");
				var skin = 'Snapgram';
				
				var skins = {
					'Snapgram': {
						'avatars': true,
						'list': false,
						'autoFullScreen': false,
                        'cubeEffect': true
					}
				};
				
				var timeIndex = 0;
				var shifts = [35, 60, 60*3, 60*60*2, 60*60*25, 60*60*24*4, 60*60*24*10];
				var timestamp = function() {
				    var now = new Date();
				    var shift = shifts[timeIndex++] || 0;
				    var date = new Date( now - shift*1000);

				    return date.getTime() / 1000;
				};

				var stories = new Zuck('stories', {
					backNative: true,
                    previousTap: true,
					autoFullScreen: skins[skin]['autoFullScreen'],
					skin: skin,
					avatars: skins[skin]['avatars'],
					list: skins[skin]['list'],
                    cubeEffect: skins[skin]['cubeEffect'],
					localStorage: true,
					stories: [
						{
							id: "gorillaz",
							photo: "https://lh3.googleusercontent.com/xYFz6B9FHMQq7fDOI_MA61gf0sNdzGBbdR7-mZ7i4rEVvE_N-kZEY_A4eP74Imcf8Sq3FYxAgd4eJA=w200",
							name: "Gorillaz",
							link: "",
							lastUpdated: timestamp(),
							items: [
								buildItem("gorillaz-1", "video", 0, "https://instagram.frao1-1.fna.fbcdn.net/t50.2886-16/17886251_1128605603951544_572796556789415936_n.mp4", "https://pbs.twimg.com/media/C8VgMQ8WAAE5i9M.jpg:small", '', false, false, timestamp()),
								buildItem("gorillaz-2", "photo", 3, "https://pbs.twimg.com/media/C8VgMQ8WAAE5i9M.jpg:large","https://pbs.twimg.com/media/C8VgMQ8WAAE5i9M.jpg:small", '', false, false, timestamp()),
							]
						},
						{
							id: "ladygaga",
							photo: "https://lh3.googleusercontent.com/VkANYSL1HOzINPSnzBJRM879b302ShsRwLoKD7mLezgTLvlpHPm_dIVop7mkAQfepze6O5N8rw8l4yM=w200",
							name: "Lady Gaga",
							link: "",
							lastUpdated: timestamp(),
							items: [
								buildItem("ladygaga-1", "photo", 5, "https://pbs.twimg.com/media/C8mtrEMXcAA9KKM.jpg:large", "https://pbs.twimg.com/media/C8mtrEMXcAA9KKM.jpg:small", '', false, false, timestamp()),
								buildItem("ladygaga-2", "photo", 3, "https://pbs.twimg.com/media/C4t_bxcXAAE3Hwb.jpg:large", "https://pbs.twimg.com/media/C4t_bxcXAAE3Hwb.jpg:small", 'http://ladygaga.com', false, false, timestamp()),
							]
						},
						{
							id: "starboy",
							photo: "https://lh3.googleusercontent.com/nMxfllzaAmaCCZJEMiKe2EARjyUNItQ-mdgAq6he-LWXwkIWbiiBIHyC3rGiqDu6fgyVK6NnjcgueA=w200",
							name: "The Weeknd",
							link: "",
							lastUpdated: timestamp(),
							items: [
								buildItem("starboy-1", "photo", 5, "https://pbs.twimg.com/media/C6f-dTqVQAAiy1K.jpg:large", "https://pbs.twimg.com/media/C6f-dTqVQAAiy1K.jpg:small", '', false, false, timestamp())
							]
						},
						{
							id: "qotsa",
							photo: "https://lh3.googleusercontent.com/nE4grkY8s88P_1mFFA06mGCNshhqtIz4C4y2dV7AZbm0360zopRKDMCYtUHR0uQR2DAfYMRZdA=s180-p-e100-rwu-v1",
							name: "QOTSA",
							link: "",
							lastUpdated: timestamp(),
							items: [
								buildItem("qotsa-1", "photo", 10, "https://pbs.twimg.com/media/C8wTxgUVoAALPGA.jpg:large", "https://pbs.twimg.com/media/C8wTxgUVoAALPGA.jpg:small", '', false, false, timestamp())
							]
						}
					]
				});
                $.ajax({url: "/currentAdNoRefresh", 
                    success: function (currentAd) {
                        console.log("getting current ad");
                        if (currentAd){
                            console.log(currentAd);
                            stories.update(currentAd.storyObject);
                            if (currentAd.inlineInstagram){
                                var inlineAd = currentAd.inlineInstagram;
                                var user = "<b>" + inlineAd.user + "</b> <br>" + "Sponsored";
                                document.getElementById("adUserProf").style.backgroundImage = "url(\"" + inlineAd.userProf + "\")";
                                document.getElementById("adUserText").innerHTML = user;
                                document.getElementById("adInlineImg").src = inlineAd.image;
                                document.getElementById("learnMore").style.display="block";
                                sponsorSite = inlineAd.link;
                            }
                        }
                    },
                    async: false});
                
                var el = document.querySelectorAll('#skin option');
                var total = el.length;
                for (var i = 0; i < total; i++) {
					var what = (skin==el[i].value)?true:false;
                    
					if(what){
						el[i].setAttribute('selected', what);

						header.innerHTML = skin;
						header.className = skin;
					} else {
						el[i].removeAttribute('selected');
					}
                }

				document.body.style.display = 'block';
			};
			
			initDemo();

            function visitSponsor(){
                window.location.href = sponsorSite;
            }
            function refreshDemo(){
                location.reload();
            }
            //function refreshPage(){
            //    $.ajax({url: "/currentAdNoRefresh", 
            //        success: function (currentAd) {
            //            console.log("getting current ad");
            //            if (currentAd){
            //                console.log(currentAd);
            //                stories.remove("ad");
            //                stories.update(currentAd.storyObject);
            //            }
            //        },
            //        async: false});
            //}
        </script>
    </body>
</html>

