/*
Custom version of:
https://github.com/pakastin/deck-of-cards/blob/master/example/example.css
see license: https://github.com/pakastin/deck-of-cards/blob/master/LICENSE
*/

.card {
  position: relative;
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-opacity: 0.38;
  width: 3rem;
  height: 3rem;
  /*background-color: #fff;*/
  -webkit-border-radius: 2rem;
  /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);*/
  cursor: default;
  border-radius: 1rem;
  border-opacity: 0.38;
  overflow:hidden;
}

.roku {
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.zfnNabSNWtOLAxdC673QAwEsCo&pid=15.1");
  }

.cox {
  background-image: url("http://www.familylifeinlv.com/wp-content/uploads/2012/02/Cox-Logo-2.png");
  }

.card:before,
.card:after {
  position: absolute;
  font-size: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  white-space: pre-line;
  height: 1.20rem;
  width: 1.20rem;
  letter-spacing: -0.1rem;
}
.card:before {
  top: 0.15rem;
  left: 0;
}
.card:after {
  bottom: 0.1rem;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .adContent {
  border: transparent;
  height: 100%;
}



