#deck {
    background-image: url(/img/remote.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    overflow: hidden;
    font-size: 20vmin;
}

#touchHandler {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*padding-top: 15vh;*/
  opacity: 0;
}

#touchHandler.calibrated {
  opacity: 1;
}

#waiting-for-calibration {
    position: fixed;
    height: 300px;
    width: 300px;
    background-color: rgba(255,255,255,1);
    color: #666;
    font-size: 20px;
    line-height: 30px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;
    border-radius: 20px;
    z-index: 1000;
}

#waiting-for-calibration .section {
  padding-top: 80px;
}

.cardH {
    box-shadow:0 0 60px 10px rgba(0, 0, 0, .1) inset;
    border: 1px solid  #c2c0b8;
    margin-left: auto;
    margin-right: auto;
    top: -200%;
}

.item {
    position: absolute;
    top: -30%;
    width: 100%;
    display: none !important;
}

.item:nth-of-type(1) {
    display: inline-block !important;
    z-index: 10;
}

.item:nth-of-type(2) {
    display: inline-block !important;
    position: absolute;
}

.item .cardH {
    -webkit-box-shadow:0 0 60px 10px rgba(0, 0, 0, .1) inset, 0 5px 0 -4px #fff, 0 5px 0 -3px #c2c0b8, 0 11px 0 -8px #fff, 0 11px 0 -7px #c2c0b8, 0 17px 0 -12px #fff, 0 17px 0 -11px #c2c0b8;
    box-shadow:0 0 60px 10px rgba(0, 0, 0, .1) inset, 0 5px 0 -4px #fff, 0 5px 0 -3px #c2c0b8, 0 11px 0 -8px #fff, 0 11px 0 -7px #c2c0b8, 0 17px 0 -12px #fff, 0 17px 0 -11px #c2c0b8;
}

.cardH.moveBot {
    transform: translateY(300%) scale(2,2); 
    transition: all .40s ease-in-out;
}

.cardH.moveTop {
    transform: translateY(-300%) scale(0.5, 0.5); 
    transition: all .40s ease-in-out;
}
