#main{
    width: 100vw;
    height: 100vh;   
}

#start{
    width: 100vw;
    height: 100vh;
    background-color: white;
}

body{
    overflow: hidden;
    font-family: 'Proza Libre', sans-serif;
}

[v-cloak] {display: none}

.explodeBox{
    transition: 200ms all ease;
}

.explodeBox:hover{
    box-shadow: 5px 5px 5px rgba(153, 0, 204, 0.38);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mainNum{
    margin-left: 30px;
}

#mainNum input{
    border: none;

}

#customImageUpload{
    visibility:hidden;
    height: 0px;
    display: block;
}

.customImg{
    max-width: 100%;
    height: auto;
}

.custom{
    max-width: 200px;
}

#uploadGroup{
    position: block;
    width: 0;
    height: 0;
}

#camera-demo{
    display: none;
    width: 100px;
    height: 100px;
}

#ico img{
    height: 1.5rem;
}

#ico h1{
    display: inline-block;
}

#ico p{
    margin-top: 35px;
    margin-bottom: 35px;
    width: 40vw;
}

#roku-company{
    position: absolute;
    bottom:0;
    left: 0;
    margin-left: auto;
    margin-right: auto;

    display: block;
    height: 14vh;
    width: 50vw;
}

#ct-simple{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    display: block;
    height: 14vh;
    width: 50vw;
}
#mainButtons{
    display: inline-block;
    margin-top: 40px;
}

#mainButtons .btn{
    float: left;
    font-size: 25px;
    border: none;
}

#mainButtons .btn:first-child{
    margin-right: 80px;
}

@media screen and (max-width: 400px){
   #start{
       height: 100%;
       width: 100%;
       margin: 0;
       background: url(../img/prop.png) no-repeat center center fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
    }

    #ico{
        margin-top: 5vh;
        text-align: center;
    }

    #ico p{
        margin: 0;
        margin-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
        width: 100vw;
    }

    #mainNum{
        position: fixed;
        top: 45%;
        left: 38%;
        width: 20vw;
        margin: 0;
    }

    #camera-demo{
        display: none;
        width: 100px;
        height: 100px;
    }

    #camera{
        position: fixed;
        top: 60%;
        left: 38%;
    }

    #mainNum label{
        color: white;
    }

    #mainNum input{
        width: 100%;
        color: white;
        font-size: 25px;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
    }

    #mainButtons{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #mainButtons .btn{
        width: 50%;
        float: left;
        font-size: 25px;
    }

    #mainButtons .btn:first-child{
        background: white; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(white, lightgreen); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(white, lightgreen); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(white, lightgreen); /* For Firefox 3.6 to 15 */
        background: linear-gradient(white, lightgreen); /* Standard syntax */

        margin-right: 0;
    }

    #mainButtons .btn:nth-child(2){
        background: white; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(white, lightsalmon); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(white, lightsalmon); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(white, lightsalmon); /* For Firefox 3.6 to 15 */
        background: linear-gradient(white, lightsalmon); /* Standard syntax */
    }
    #roku-company, #ct-simple{
        display: none;
    }
}
