/* 
  I'm using these amazing projects for the cards: 
  https://github.com/pakastin/deck-of-cards
  which is using:
  https://sourceforge.net/projects/vector-cards/
*/

.cardT {
    /* out of screen: translateY viewport height */
    transform: translateY(120vh) scale(1.5);
    box-shadow: 21px 21px 14px -9px rgba(0,0,0,1);
    margin: 0 auto; 
}

.cardT.taken {
    transition: all 1s ease-in;
    /* back on screen: translateY to a lower level */
    transform: translateY(-30vh) scale(1);
    box-shadow: 8px 8px 14px -9px rgba(0,0,0,1);
}

.cardT.thrown {
    transition: all 1s ease-in;
    /* back on screen: translateY to a lower level */
    transform: translateY(10vh) scale(1);
    box-shadow: 8px 8px 14px -9px rgba(0,0,0,1);
}

.path {
    height: 100vh;
    position: absolute;
    bottom: 0px;
    left: 85%;
    margin-left: -1.9rem;
}

html {
    font-size: 40px; /* this sets the card size */
}

#table {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background: url("https://i.ytimg.com/vi/sNmLbhHnHTs/hqdefault.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  /*display: none;*/
}

#waiting-for-device {
  position: fixed;
  height: 400px;
  width: 400px;
  background-color: rgba(255,255,255,0.7);
  color: #555;
  font-size: 20px;
  line-height: 30px;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
  text-align: center;
  border-radius: 20px;
}

#waiting-for-device .section {
  margin: 35px;
}

#waiting-for-device #placeholder {
  margin: 35px;
}
